<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 </br>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br />
    <%= f.text_field :lastname %>
  </div>
  
  <div class="field">
    <%= f.label :rut %><br />
    <%= f.number_field :rut %>
    
  </div>
  <%if current_user.type=="Admin"%><br>
  <%= f.label :tipo %><br />
  <%= f.text_field :type %>

  <br>
  <br> 

	 <%= f.label :curso_id %><br />
	 <%= f.collection_select(:curso_id, Curso.all, :id, :name) %> 
	 <%end%>
	 </br> </br>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
