<div id="header">

		<div id="menu">
			<ul>
				<% if user_signed_in? %>
				<li><%=link_to "Inicio", root_path%> </span></li>
				<li><%=link_to "Perfil", user_path(current_user)%></li>
					<%if current_user.type=="Admin"%>
					<li><%= link_to "Usuarios", users_path%></li>
					<li><%= link_to "Cursos", cursos_path%></li>
					<li><%= link_to "Posts", posts_path%></li>
					<li><%= link_to "Comentarios", comments_path%></li>
					<%end%>
					<%if current_user.type=="Teacher"%>
					<%cursos = current_user.cursos %>
					<%cursos.each do |curso| %>
					<li><%= link_to "Mi curso", curso%></li>
					<%end%>
					<%end%>
					<%if current_user.type=="Student"%>
					<%cursos = Curso.find(:all, :conditions=>{:id=>current_user.curso_id})%>
					<%cursos.each do |curso|%>
					<li><%= link_to "Mi curso", curso%></li>
					<%end%>
					<%end%>
					
						
				<li><%= link_to "Salir", destroy_user_session_path, :method => :delete %></li>
				<% else %>
				<li class="current_page_item first"><span><%=link_to "Inicio", root_path%> </span></li>
				<li><%= link_to "Inscribete", new_user_registration_path %> </li>
				<li><%= link_to "Entra!", new_user_session_path %></li>
				<% end %>
			</ul>
		</div><!-- end #menu -->


</div><!-- end #header -->

<div id="logo">
		<h1>Posts</h1>
		<p>En desarrollo</p>
</div><!-- end #logo -->

<div id="page">

	
<%if current_user.type=="Admin"%>
<h2>Usuarios registrados</h2>
<br>

<table border="1">
  <tr>
    <th><%= sortable "username", "Usuario"%></th>
    <th><%= sortable "name", "Nombre"%></th>
    <th><%= sortable "lastname", "Apellido"%></th>
    <th><%= sortable "rut", "Rut"%></th>
    <th><%= sortable "email", "Email"%></th>
    <th><%= sortable "type", "Rol"%></th>
    <th><%= sortable "created_at", "Fecha"%></th>

    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr  align="center">
    <td><%= user.username %></td>
    <td><%= user.name %></td>
    <td><%= user.lastname %></td>
    <td><%= user.rut %></td>
    <td><%= user.email %></td>
    <td><%if user.type=="Teacher"%>
    Profesor
    <%elsif user.type=="Student"%>
    Alumno
    <%elsif user.type=="Admin"%>
Administrador
<%else%>
-
<%end%>    
    
    
    
    </td>
    <td><%= user.created_at %></td>
    <td><%= link_to 'Ver', user%><br><%= link_to 'Editar', edit_user_path(user)%><br><%=  link_to 'Eliminar', user, :confirm => 'Alerta! Esto no puede deshacerse. Seguro?', :method => :delete%></td>
  </tr>
<% end %>

</table>
<br>
<%=will_paginate @users%>

<%else%>
<br>
<b>Lo sentimos, no puedes ver esta parte del sitio web.</b>
<%end%>
<br />


<div style="clear: both;">&nbsp;</div>

	</div>

</div><!-- end #page -->
<div id="footer">

		<p>Copyright (c) 2011 iic2515-3 Cristian Schalper. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>

	</div>

	<!-- end #footer -->

