<%= form_for(@curso) do |f| %>
  <% if @curso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@curso.errors.count, "error") %> prohibited this curso from being saved:</h2>

      <ul>
      <% @curso.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%profesores = User.find(:all, :conditions=>{:type=>'Teacher', :curso_id=> nil})%>
    <%if profesores.count ==0%>
    <br>
    <strong>No hay profesores jefe disponibles.<br>
    No es posible crear un nuevo curso.</strong>
    <br>
    <%else%>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :name %>
  </div>
  
  <div class="field">  
<%= f.label :profesor_jefe %><br />  
<%= f.collection_select(:user_id, profesores, :id, :name)%>    
  </div>
  <div class="actions">
    <%= f.submit "Crear Curso" %>
    
  </div>
  <%end%>
<% end %>
