<h1>Listing comms</h1>

<table>
  <tr>
    <th>Father</th>
    <th>Son</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comms.each do |comm| %>
  <tr>
    <td><%= comm.father_id %></td>
    <td><%= comm.son_id %></td>
    <td><%= link_to 'Show', comm %></td>
    <td><%= link_to 'Edit', edit_comm_path(comm) %></td>
    <td><%= link_to 'Destroy', comm, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Comm', new_comm_path %>
