<!DOCTYPE html>
<html>
<head>
  <title>Posts-Web</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <meta name="version" ver=0.9>

</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div id="wrapper">

<%= yield %>
</div>
</body>
</html>
