<!DOCTYPE html>
<html>
<head>
  <title>Tallerweb</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
   <meta name="version" ver=0.5>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div id="user_nav">
  <% if user_signed_in? %>
    Ingresado como <b><%= current_user.name %> <%= current_user.lastname %></b> . No eres tu? 
    <%= link_to "Salir", destroy_user_session_path, :method => :delete %>
    </br>
    <%=link_to "Perfil", user_path(current_user)%> | 
    <%=link_to "Inicio", root_path%> | 
    <%if current_user.admin?%><%= link_to "Usuarios", users_path%><%end%>
  <% else %>
    <%= link_to "Inscribete!", new_user_registration_path %> o <%= link_to "Entra", new_user_session_path %>
  <% end %>
</div>
<div id="login">
<% if !user_signed_in?%>
<div id="login">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %> 
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label "Recordarme" %></div>
  <% end -%>

  <div><%= f.submit "Entrar" %></div>
<% end %>
<%end%>
</div>

<%= yield %>

</body>
</html>
